<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
<div class="main" style="display: flex;">
    <div class="leftdiv" style="flex: 1;">
        <form class="example-form">
            <h2>dotwork</h2>
            <h1>Log in to your Account</h1>
            <h4>Welcome back! Select method to log in:</h4>
            <div>
                <button>Google</button>
                <button>Facebook</button>
            </div>
            <hr>
            <p>or continue with email</p>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                    placeholder="Enter your password">
                <mat-hint>Errors appear instantly!</mat-hint>
                @if (passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')) {
                <mat-error>Password must be 8 character long and less than 16 character</mat-error>
                }
                @if (passwordFormControl.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <div>
                <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                <a href="#">Forget Password?</a>
            </div>

            <button type="submit">Log in</button>

            <p>Don't have an account? <a href="#">Create an account</a></p>
            
        </form>
    </div>

    <div class="rightdiv" style="flex: 1; background-color: aqua;">
        <form action="#">
            <label for="">id</label>
        </form>
    </div>

</div>
</div>